body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*This where the Header is styled*/
.header {
    background-color: #020202e8;
    padding: 20px 0 0;
    text-align: center;
}

.interflora-link img{
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.logo img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.facebook-link img, .instagram-link img {
    width: 10px;
    height: auto;
    margin-right: 6px;
}

/*This where the Navigation is styled*/
.nav {
    background-color: #fffafa;
}

.nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav a {
    display: block;
    padding: 8px 12px;
    border: 1px solid #d6d0d0;
    color: #000;
    text-decoration: none;
}

nav a:hover {
    background-color: #f2f2f2;
}

/*This where the Main is styled*/
.main {
    min-height: 130vh;
    background-image: url("images/1. startsida/startsida.bakgrund.webp");
    background-size: cover;
    background-position: center;
}

/*This where the footer is styled*/
.footer {
    color: linear-gradient(to bottom, #fefcfc, #656565);
    padding: 5px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}