
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* This is where the Header is styled */

.header {
    background-color: #020202;
    padding: 20px 0 0;
    text-align: center;

    /* NYTT - placerar bilderna i tre kolumner */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}


/* Interflora till vänster */

.interflora-link {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    margin-left: 30px;
}

.interflora-link img {
    width: 150px;
    height: auto;
    margin-right: 10px;
}


/* Iris-loggan i mitten */

.logo {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
}

.logo img {
    width: 150px;
    height: auto;
    margin-right: 10px;
}


/* Sociala medier till höger */

.facebook-link {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    margin-right: 85px;
}

.instagram-link {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    margin-right: 30px;
}

.facebook-link img,
.instagram-link img {
    width: 50px;
    height: auto;
    margin-right: 6px;
}


/* navbar */

/* This is where the Navigation is styled */

.nav {
    background-color: #fffafa;
    position: relative;
    z-index: 10;

    /* NYTT - navbar på egen rad under loggorna */
    grid-column: 1 / -1;
    grid-row: 2;
    width: 100%;
}


/* Huvudmenyn */

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;

    list-style: none;
    margin: 0;
    padding: 0;
}


/* Länkarna */

.nav a {
    display: block;
    padding: 8px 12px;

    border: 1px solid #d6d0d0;
    color: black;
    text-decoration: none;
}


/* Hover på länkar */

.nav a:hover {
    background-color: #f2f2f2;
}


/* dropdown */

/* Blommor-knappens behållare */

.dropdown {
    position: relative;
}


/* Undermenyn */

.nav .dropdown-menu {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;

    min-width: 180px;

    background-color: white;
    list-style: none;

    margin: 0;
    padding: 0;

    border: 1px solid #d6d0d0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


/* Visar undermenyn när musen är över Blommor */

.nav .dropdown:hover .dropdown-menu,
.nav .dropdown:focus-within .dropdown-menu {
    display: block;
}


/* Länkar i dropdown */

.dropdown-menu a {
    padding: 12px 15px;
}


/* Hover i dropdown */

.dropdown-menu a:hover {
    background-color: #eeeeee;
}


/* hamburgarmeny */

/* Dold på stora skärmar */

#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
}


/* main */

/* This is where the Main is styled */

.main {
    min-height: 130vh;
    background-image: url("images/1. startsida/startsida.bakgrund.webp");
    background-size: cover;
    background-position: center;
}


/* footer */

/* This is where the footer is styled */

.footer {
    color: white;
    background: linear-gradient(to bottom, #020202, #656565);
    padding: 5px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}


/* mobilanpassning */

@media (max-width: 768px) {

    /* header mobil */

    /* NYTT - anpassar header-top på mobil */

    .header-top {
        padding: 10px;
        gap: 10px;
    }


    /* Mindre bilder i headern */

    .interflora-link {
        margin-left: 10px;
    }

    .interflora-link img {
        width: 70px;
    }

    .logo img {
        width: 100px;
    }

    .facebook-link {
        margin-right: 45px;
    }

    .instagram-link {
        margin-right: 10px;
    }

    .facebook-link img,
    .instagram-link img {
        width: 25px;
    }


    /* NYTT - sociala medier på mobil */

    .sociala-medier {
        gap: 5px;
    }

    .sociala-medier img {
        width: 25px;
        height: 25px;
    }


    /* hamburgarmeny mobil */

    /* Visar hamburgarikonen */

    .hamburger {
        display: block;
        font-size: 30px;
        cursor: pointer;
        padding: 10px 20px;
        color: black;
    }


    /* Döljer huvudmenyn */

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: stretch;
        gap: 0;
        width: 100%;
    }


    /* Visar huvudmenyn när hamburgaren klickas */

    #menu-toggle:checked ~ .nav-links {
        display: flex;
    }


    /* Visar blomkategorierna i mobilmenyn */

    .nav .dropdown-menu {
        display: block;
        position: static;
        box-shadow: none;
        border: none;
        padding-left: 20px;
    }


    /* Större klickytor på mobilen */

    .nav a {
        padding: 12px 20px;
    }

}


/* -----------BESTÄLLNINGSIDA ----------- */

.bestall-main {
    min-height: 100vh;
    background-color: white;
    padding: 30px 20px 60px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.bestall-form {
    width: 100%;
    max-width: 400px;

    border: 2px solid black;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 12px
}

.bestall-form h1 {
    font-size: 26px;
    margin-bottom: 10px;
}

.bestall-form label {
    font-size: 16px;
}

.bestall-form > input,
.bestall-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #777;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.form-grupp {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 12px 0;
}

.form-grupp label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.notering {
    display: flex;
    align-items: center;
    gap: 8px;
}

.bestall-form button {
    background-color: #020202;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
}

.bestall-form button:hover {
    background-color: #555;
}


/* ----------- Beställning mobil ----------- */

@media (max-width: 768px) {
    .bestall-main {
        padding: 20px 10px 40px;
    }

    .bestall-form {
        padding: 10px;
    }
}

/* ----------- kategoribilder i blommor ----------- */

/* placerar bilderna bredvid varandra */

.kategorier {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    padding: 50px 20px;
}

/* varje kategoriruta */
.kategori {
    display: block;
    width: 180px;

    background-color: white;
    border: 2px solid black;

    text-align: center;
    text-decoration: none;
    color: black;

    transition: transform 0.3s ease;
}

/* kategori bilderna */
.kategori img {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* svart textruta under bilderna */
.kategori p {
    background-color: black;
    color: white;

    padding: 10px;
    font.size: 18px;
    margin: 0;
    border-top: 2px solid black;
}

/* hover effekt på kategorirutor */
.kategori:hover {
    transform: scale(1.25);
    z-index: 2;
}

/* ----------- Kategoribilder mobil ----------- */

@media (max-width: 768px) {
    .kategorier {
        gap: 15px;
        padding: 30px 10px;
    }

    .kategori {
        width: 140px;
    }

    .kategori img {
        height: 110px;
    }

    .kategori:hover, .kategori:focus-visable {
        transform: scale(1.1);
    }
}

/* ----------- Begravningssidan ----------- */

.begravning-main {
    background-color: white;
    min-height: 100vh;
    padding: 30px 25px 60px;
}

/* rubriken */
.begravning_main h1 {
    font-size: 42px;
    margin-bottom: 5px;
    margin-left: 30px;
}

.begravning-intro {
    font-size: 14px;
    margin-left: 30px;
    margin-bottom: 30px;
}

/* kategorier */

/* sju lodräta kolumner */

.begravning-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

/* varje kategori */

.begravning-kategori {
    min-width: 0;
    padding: 0 8px;
    border-right: 1px solid black;
}

.begravning-kategori:last-child {
    border-right: none;
}

/* huvudbilder */

/* fyrkantiga bilder */

.begravning-huvudbild {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

/* kategorinamn och pris */

.begravning-kategori h2 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.begravning-kategori p {
    font-size: 13px;
    margin-bottom: 25px;
}

/* exempelbilder */

.begravning-bilder {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* beställ knapp */

.begravning-bestall {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.begravning-bestall a {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 5px;
    font-size: 18px;
}

.begravning-bestall a:hover {
    background-color: #555;
}

/* mobilanpassning */

/* surfplatta */
@media (max-width: 1000px) {
    .begravning-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap:25px 10px
    }
}

/* mobil */
@media (max-width: 600px) {
    .begravning-main {
        padding: 20px 15px 40px;
    }

    .begravning-main h1 {
        font-size: 32px;
        margin-left: 0;
    }

    .begravning-intro {
        margin-left: 0;
    }

    .begravning-grid {
        grid-template-columns: repeat(2, minmax(0. 1fr));
    }
}

/* mycket små mobiler */
@media (max-width: 400px) {
    .begravning-grid {
        grid-template-columns: 1fr;
    }

    .begravning-bilder {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
